<hr>
<h5><%= pluralize(@quotes.count, "Active Quote") %></h5>
<% @quotes.each do |quote| %>
  <div class="comment">
    <div class="card mb-3" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4" id='avatar-container'>
          <%= image_tag(quote.user.avatar_thumbnail, class: 'comment-avatar rounded-circle') %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= quote.booking.strftime("%a %l%p - %d/%m/%y ") %> - <%= number_to_currency(quote.price) %></h5>
            <p class="card-text"><%= quote.content %></p>
            <div id="comment-features">
                <p class="card-text"><small class="text-muted">Sent by <%= link_to quote.user.first_name, quote.user %> <%= time_ago_in_words(quote.created_at) %> ago.
                  <% if current_user == quote.user %>
                    - <%= link_to "Delete", task_quote_path(quote.task, quote), method: :delete %> /
                    <%= link_to 'Edit', edit_task_quote_path(quote.task, quote) %></small>
                  <% elsif current_user == @task.user %>
                    - <%= link_to "Reject", task_quote_path(quote.task, quote), method: :delete %>
                  <% end %>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>
<% if current_user != @task.user %>
  <% if current_user.roles['client'] == false %>
    <%= render 'quotes/form' %>
  <% end %>
<% end %>
