<hr>
<h5>Active Quotes</h5>
<% @quotes.each do |q| %>
  <div class="comment">
    <div class="card mb-3" style="max-width: 600px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag '/assets/test.jpg', :class => "img-fluid rounded-start"%>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= q.booking.strftime("%a %l%p - %d/%m/%y ") %> - <%= number_to_currency(q.price) %></h5>
            <p class="card-text"><%= q.content %></p>
            <div id="comment-features">
              <p class="card-text"><small class="text-muted">Sent by <%= link_to q.user.first_name, q.user %> <%= time_ago_in_words(q.created_at) %> ago -
                  <%= link_to "Delete", task_quote_path(q.task, q), method: :delete %> /
                  <%= link_to 'Edit', edit_task_quote_path(q.task, q) %></small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>
<%= render 'quotes/form' %>
