<h2>Edit <%= resource_name.to_s.humanize %></h2>
<hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h4>Change Avatar</h4>
  <section class="admin">
    <%= image_tag(@user.avatar_thumbnail, class: 'rounded-circle') %>
    <p>Don't forget to re-confirm your password to view changes!</p>
    <div id='avatar-input'>
      <%= f.file_field :avatar, accept: 'image/png,image/jpeg,image/jpg'%>
    </div>
  </section>
  <hr>
  <h4>Basic Information</h4>
  <br>
  <%= f.label :first_name, "Name" %>
  <%= f.text_field :first_name, autofocus: true %>
  <%= f.label :last_name, "Surname" %>
  <%= f.text_field :last_name %>
  <%= f.label :birthday, "Birthday" %>
  <%= f.date_field :birthday %>
  <%= f.label :email %>
  <%= f.email_field :email, autocomplete: "email" %>
  <hr>
  <h4>Password Changes (Optional)</h4>
  <br>
  <%= f.label :password, "Change Password" %>
  <%= f.password_field :password, autocomplete: "new-password" %>
  <%= f.label :password_confirmation, "Confirm New Password" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  <hr>
  <h4>Confirm Changes (Required)</h4>
  <br>
  <div id="current_password">
    <%= f.label :current_password, "Current Password" %>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  </div>
  <br>
<% end %>
