<h2> <%= @user.private_name %> </h2>
<h5> <%= "#{@user.active_roles.join(", ").capitalize}" %> Information </h5>
<hr>
<%= "#{@user.age} years old." %><br>
<%= "#{@user.email}"%><br>
<%= "Joined Orbit #{time_ago_in_words(@user.created_at)} ago." %><br>
<% if @user.tasks.present?  %>
  <br>
  <h5>Active Listings</h5>
  <hr>
  <% @user.tasks.each do |t| %>
      <%= link_to t.address, task_path(t) %><br>
  <% end %>
<% end %>
<section class="admin">
  <% if current_user?(@user) %>
    <%= link_to "Edit Information", edit_user_registration_path, class: "button" %>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to "Set Permissions", edit_user_path(@user), class: "button" %>
    <%= link_to "Delete Account", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "button" %></p>
  <% end %>
</section>